@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sidebar-item g path {
  fill: #c1bbeb;
}
.sidebar-item.active g path {
  fill: #4d44b5;
}

.card-footer g path {
  fill: #fafafa;
}

.custom-width {
  width: calc(100% - 340px);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.upload-file input {
  display: none;
}

.custom-select * {
  outline: none !important;
}

.custom-select .css-qbdosj-Input,
.react-select-2-placeholder {
  margin: 0 !important;
  padding: 0 !important;
}

.css-1u9des2-indicatorSeparator {
  display: none;
}

.css-1hb7zxy-IndicatorsContainer {
  padding-right: 14px !important;
}

input[type="checkbox"] {
  border: 2px solid blue; /* Change this color as needed */
  background-color: white; /* Default background color */
}
.file-delete-icon path {
  stroke: white;
}
